
.board{
    width: 42%;
}

.first-stage-result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-stage-result h3{
    height: 20%;
    margin-top: 20%;


}

